{% extends '../shared/layout.njk' %}

{% block content %}
    <div class="login-wrapper">
        <div class="login-card">
            <div>Gringotts Bank</div>
            <form action="/auth/login" method="post" class="login-form">
                <div class="form-group">
                    <label class="login-label">Username</label>
                    <input name="username" id="login-username" class="login-input" type="email"/>
                </div>
                <div class="form-group">
                    <label class="login-label">Password</label>
                    <input name="password" id="login-password" class="login-input" type="password"/>
                </div>
                <div class="login-button-container">
                    <button type="submit" id="post-login" class="login-button">Login</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}